.wrapper {
  padding: 40px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 100%;
  column-gap: var(--gap-m);
  @media (max-width: 770px) {
    display: block;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-s);
}
.header {
  display: flex;
  column-gap: var(--gap-s);
}
.button {
  background-color: var(--color-card);
  border: none;
  border-radius: var(--radius-card);
  color: white;
  word-wrap: break-word;
  padding: 0 1rem;
  cursor: pointer;
}
