.button {
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5em 1em;
  word-wrap: break-word;
}
.accent {
  background-color: var(--color-accent);
  border-radius: var(--radius-btn);
}
.card {
  background-color: var(--color-card);
  border-radius: var(--radius-card);
}
.minimal {
  padding: 0;
}
