.textarea {
  width: 100%;
  background-color: transparent;
  font: inherit;
  color: inherit;
  outline: none;
  border: none;
  resize: none;
  padding: 0px;
  padding-left: 0;
  min-height: 2rem;
}
